<form method="get" action="/quizes">
    
    Busqueda pregunta: <input type="text" name="search" onfocus="true"/></br>
    <input type="submit" value="Buscar"/>

</form>



<% var i; for (i=0; i < quizes.length; i++) { %>


<p>
	<a href="/quizes/<%= quizes[i].id %>"/><%= quizes[i].pregunta %></a> 
<% if (session.user) { %>
    - 
	<a href="/quizes/<%= quizes[i].id %>/edit"/><button>Editar</button></a> -
	<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
		<button type="submit" onclick="return confirm ('Borrar: <%= quizes[i].pregunta %>');">
			Borrar
		</button>
	
	</form>
<% } %>
	<%= quizes[i].tema %>
</p>



<% } %>


<% if (session.user) { %>
<a href="/quizes/new">Crear pregunta</a>
<% } %>